<div class="hints">
  <h1>Hints</h1>

  <p>
    Here are some hints for getting you started.
  </p>

  <p>
    Most of your work will be done by defining new characters and new
    categories.  The character and category lists are given in the
    sidebar with the most recent entries from each group listed there.
    Clicking on the Characters or Categories headers will take you to
    the full lists.
  </p>

  <h2>Icons</h2>

  Here are some of the icons you will encounter.

  <ul>
    <li><%= image_tag("add.png") %> - Add a new instance of the
      associated element</li>
    <li><%= image_tag("edit.png") %> - Edit the associated element</li>
    <li><%= image_tag("delete.png") %> - Delete the associated element</li>
  </ul>

  <h2>Keyboard Short Cuts</h2>

  The following keyboard shortcuts can be used.

  <ul>
    <li><b>C</b> - Go directly to the full character list.</li>
    <li><b>G</b> - Go directly to the full category list.</li>
    <li>
      <b>N</b> - Create a new item, depending on the current page...
      <ul>
        <li>Create a new character on the character list page.</li>
        <li>Create a new category on the category list page.</li>
        <li>Create a new tag when displaying a single character.</li>
      </ul>
    </li>
  </ul>

  The keystrokes for the shortcuts vary from browser to
  browser.  Here are some of the more common browsers.

  <ul>
    <li><b>Chrome (Windows, Linux)</b>   - Use Alt+<slant>accesskey</slant> (sometimes a shift is required)</li>
    <li><b>Chrome (Mac)</b>              - Use Control+Option+<slant>accesskey</slant></li>
    <li><b>Firefox (Windows, Linux)</b>  - Use Alt+Shift+<slant>accesskey</slant></li>
    <li><b>Firefox (Mac)</b>             - Use Control+<slant>accesskey</slant></li>
    <li><b>Internet Explorer</b>         - Use Alt+<slant>accesskey</slant></li>
    <li><b>Safari 3 (Windows)</b>        - Use Alt+<slant>accesskey</slant></li>
    <li><b>Safari 3 (Mac)</b>            - Use Control+<slant>accesskey</slant></li>
    <li><b>Safari 4 and up (Windows)</b> - Use Alt+<slant>accesskey</slant></li>
    <li><b>Safari 4 and up (Mac)</b>     - Use Control+Alt+<slant>accesskey</slant></li>
  </ul>
</div>
