<h1>Listing tags</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tags.each do |tag| %>
  <tr>
    <td><%= link_to 'Show', tag %></td>
    <td><%= edit_link_to edit_tag_path(tag) %></td>
    <td><%= delete_link_to tag %></td>
  </tr>
<% end %>
</table>

<br />

<%= add_link_to 'New Tag', new_tag_path %>
