$main-bg-color: #D5F5DA;
$main-bg-outline-color: darken($main-bg-color, 30);
$main-text-color: #444;
$main-link-color: #2E6AA0;
$hover-link-color: $main-link-color;
$hover-link-bg-color: darken($main-bg-color, 40);

$header-bg-color: #55A661;
$header-bg-outline-color: darken($header-bg-color, 30);
$header-link-color: #FFF;

$banner-text-color: #777;
$hint-text-color: #777;

$notice-bg-color: #DEE600;
$alert-bg-color: #FFA8A8;

$sidebar-text-color: #777;
$sidebar-link-color: #000;

$table-alt-color: #F1F1F1;

$errors-bg-color: #FFDCDC;
$errors-outline-color: darken($errors-bg-color, 20);
$errors-text-color: #DC3D3D;

* {
    margin: 0;
    padding: 0;
}

body {
    background: $main-bg-color;
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: small;
    color: $main-text-color;
}

img {
    border: 0;
    border-width: 0;
}

img.button {
    display: block;
}

a:hover img.button {
    opacity: .75;
}

.clear {
    clear: both;
    overflow: hidden;
    height: 0px;
    display: block;
}

.break {
    border-top: 2px dotted $main-bg-outline-color;
    margin: 1.5em 0;
}

p {
    line-height: 1.25em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

ul, ol {
    margin-left: 2em;
    line-height: 1.5em;
}

/* LINKS */

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: $main-link-color;
}

a:hover,
a:active {
    text-decoration: none;
    color: $hover-link-color;
    background: $hover-link-bg-color;
}

a img {
    border: 0;
}

/* LAYOUT */

#wrapper {
    width: 60em;
    margin: 25px auto;
}

#header {
    background: $header-bg-color;
    border-bottom: 3px solid $header-bg-outline-color;
    font-size: 1.15em;

    #logo {
        float: left;
        left: 10px;
        z-index: 1;
    }

    #logo span, #logo a {
        background: $header-bg-color;
        display: block;
        width: 60px;
        height: 80px;
        border-style: none;
    }

    #title {
        width: 800px;
        font-size: 18pt;
        color: black;
    }

    #navigation {
        float: right;
        text-align: right;
        height: 80px;

        p {
            vertical-align: text-top;
            # color: $main-bg-outline-color;
            color: darken(#fff, 5);
            padding-top: 10px;
            padding-right: 25px;
            margin: 0;
            margin-left: 200px;
            font-size: 80%;
        }

        a {
            color: $header-link-color;
            display: inline-block;
            padding-top: 3px;
            padding-bottom: 3px;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
            background: $header-bg-color;
        }

        .separator {
            color: $main-bg-outline-color;
            display: inline-block;
            padding: 3px 5px;
        }
    }
}

#sidebar {
    width: 15em;
    float: right;

    h3 {
        color: $sidebar-text-color;
        font-size: 1em;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 1px solid $main-bg-outline-color;
        line-height: 1.5em;
        margin-bottom: .5em;
    }

    ul {
        margin: 0 0 1.5em 0;
        padding: 0;
        line-height: 1.5em;
        list-style: none;

        a,
        a:link,
        a:visited {
            padding: 2px;
            text-decoration: none;
        }

        li {
            margin: 0 0 .25em 0;
            padding: 2px 0;
            list-style: none;
            font-size: 1.10em;

            img {
                vertical-align: top;
                margin-right: 5px;
            }
        }
    }

    a {
        color: $sidebar-link-color;
    }
}

#content {
    width: 40em;
    float: left;
    padding: 1em;
    margin-left: 1em;
    background: #fff;
    border: 1px solid $main-bg-outline-color;

    #banner {
        background: $main-bg-color;
        margin: -1em;
        border-bottom: 2px solid darken($main-bg-color, 20%);
        padding: 1em;

        h1 {
            font-size: 2em;
        }

        p {
            margin: .5em 0;
            font-size: 1.15em;
            color: $banner-text-color !important;
        }
    }

    #link-menu {
        text-align: center;
        margin: 1em 0;
    }

    table {
        td {
            padding-left: 4px;
            padding-right: 4px;
        }
        td.label {
            vertical-align: text-top;
            font-weight: bold;
        }
    }
}

#footer {
    color: #fff;
    background: $header-bg-color;
    border-top: 3px solid $header-bg-outline-color;
    padding: 1.25em;
    font-size: .95em;

    p {
        margin: .25em 0;
        text-align: center;
        color: $main-bg-outline-color;
    }

    a {
        color: $header-link-color;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        background: $header-bg-color;
    }
}

/* EVENTS */

div.event {
    margin: 0;
    padding-bottom: 1.75em;
    margin-bottom: 1.75em;
    border-bottom: 1px dotted $main-bg-outline-color;

    p {
        margin: .35em 0;
        font-size: 1.15em;
    }

    img.event {
        padding-top: 25px;
        padding-left: 15px;
        float: right;
    }

    p.button {
        margin-top: 1em;
        margin-left: 8em;
        font-style: bold;
        text-transform: uppercase;
    }

    table {
        margin-top: 1.5em;
        width: 75%;
        line-height: 1.5em;
        font-size: 1.10em;

        th {
            width: 25%;
            text-align: right;
            vertical-align: top;
        }

        td {
            width: 75%;
            padding-left: 1em;
        }
    }
}

/* FORMS */

form {
    padding: 0;
    margin: 0;

    fieldset {
        border: 0;
        margin: 1em 0;
        padding: 1em;
    }

    label {
        color: $main-text-color;
        display: block;
        font-size: 1.2em;
        font-weight: normal;
        padding-bottom: 0px;
        margin-bottom: 5px;
        margin-top: 0.75em;
    }

    label.required {
        font-weight: bold;
    }

    div.field {
        padding: 0.5em 0em;
    }

    label:after {
        content: ":"
    }

    .required-fields label {
        font-weight: bold;
    }

    .hint {
        color: $hint-text-color;
        display: block;
        font-size: 0.9em;
        font-style: italic;
    }

    input {
        margin-top: 0px;
        padding-top: 0px;
        font-size: 110%;
    }

    textarea {
        font-size: 110%;
    }

    select {
        font-size: 110%;
    }

    .actions {
        border-top: 2px dotted $main-bg-outline-color;
        margin-top: 1em;
        padding-top: 1.5em;
    }

    .actions button,
    .actions input {
        font-size: 140%;
    }

    input:focus,
    textarea:focus {
        background: #ffc;
    }
}

/* TABLES */

table {
    border-collapse: collapse;
    border: none;
    padding: 0;
    line-height: 1.25em;
}

table.auto-width {
    width: auto;
}

table.records {
    width: 100%;
}

table.records.no-heading {
    margin-top: 2em;
}

table.records th,
table.records td {
    padding: 1em .5em;
    border-bottom: none;
}

table.records th {
    background: $main-bg-outline-color;
    color: $main-text-color;
    padding: 10px 0;
    border-bottom: 0;
    text-transform: uppercase;
}

table.records.show th,
table.records.show td {
    padding: 1em .5em;
    border-bottom: 2px solid #ececec;
}

table.records.show td.attribute {
    text-align: right;
    font-weight: bold;
    background: $table-alt-color;
    width: 30%;
    padding-right: 1em;
}

table.records .alt td {
    background: $table-alt-color;
}

/* FLASHES */

#flash_notice,
#flash_alert {
    padding: 1em;
    text-align: center;
    color: #000;
}

#flash_notice p,
#flash_alert p {
    padding-left: 25px;
    padding-right: 25px;
}

#flash_notice {
    background: $notice-bg-color;
}

#flash_alert {
    background: $alert-bg-color;
}

/* ERRORS */

.field_with_errors {
    input {
        border: 3px solid $errors-outline-color;
    }
}

#error_explanation {
    margin: 1em -1em;
    padding: 1em;
    background: $errors-bg-color;
    border-top: 3px solid $errors-outline-color;
    border-bottom: 3px solid $errors-outline-color;

    h3 {
        color: $errors-text-color;
        font-size: 1.25em;
        margin-bottom: 0.5em;
    }

    p {
        margin: .5em 0;
        font-weight: bold;
    }

    ul {
        margin-top: 1em;
        margin-left: 2em;
    }
}

/* SELF-CLEARING FLOATS */

#header:after,
#footer:after,
#wrapper:after,
#event:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
