<h1 class="mousehide">
  CATEGORY <%= @category.name %>
  <%= edit_link_to edit_category_path(@category), class: "link as-needed" %>
</h1>

<ul>
  <% @category.value_map.each do |value, characters| %>
  <li>
    <%= value %><br />
    <%= characters.map { |c| link_to(c.name, c) }.join(', ').html_safe %>
  </li>
  <% end %>
</ul>
