<div id="footer">
  <p class="hints"><%= link_to "Hints", hints_path %></p>
  <p>
    Copyright &copy; <%= current_year %>
    <a href="http://onestepback.org">Jim Weirich</a>. 
    All Rights Reserved.
  </p>
  <%= debug(params) if Rails.env.development? %>
</div>
